body
{
    font-family:'Special Elite' , cursive ;
    background-color:#dae1d4 ;
}

.header_div
{
    background:rgb(165, 193, 210) ;
}

.header_div p
{
    font-family: 'Robot' , sans-serif;
    color:rgb(92, 82, 82);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  .copy_right_footer {
    position: fixed;
    color: #1b1b1b;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #f5eded;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(41, 40, 40);
 }
 